<div class="container"
  <div class="row">
    <div class="col-sm-4 offset-sm-4 text-xs-center">
      <%= image_tag ('freuder-logo'), class: 'img-circle' %>
      <h1> Freuder</h1>
      <%= link_to 'Log In with Twitter', 'google.com', class: 'btn btn-primary' %>
      <%# <% form_for :user do |f| %1> %>
      <%#   <div class="form-group"> %>
      <%#     < %>
      <%#   </div> %>
      <%# <% end %1> %>
    </div>
  </div>
</div>
<h1></h1>
