<div class="container">
  <div class="row">
    <div class="col-sm-4 offset-sm-4 text-xs-center">
      <br/>
      <br/>
      <%= image_tag ('freuder-logo'), class: 'img-circle' %>
      <h1>Freuder!</h1>
      <br/>
      <br/>
      <%= link_to 'Log In with Twitter', 'google.com', class: 'btn btn-outline-primary' %>
    </div>
  </div>
</div>
<h1></h1>
